/* Основной цвет текста Серый  #757575  */
/* Второстепенный цвет текста Черный #212121   */
/* Белый цвет фона Section  #FFFFFF   */
/* Серый цвет фона  #F5F4FA  */
/* Бєкграунд Футера #2F303A   */
/* Акцент - Голубой цвет #2196F3  */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-bg-color: #ffffff;
  --gray-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color-blue: #2196f3;
}

ul {
  list-style: none;
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.logo-blue {
  color: var(--accent-color-blue);
}

.hover-text:hover,
.hover-text:focus {
  color: var(--accent-color-blue);
}

.focus-text:focus {
  color: var(--accent-color-blue);
}

.contacts {
  color: var(--primary-text-color);
  text-decoration: none;
}

.social-links {
  text-decoration: none;
}

.white-text {
  color: var(--white-bg-color);
}

.footer-bg {
  background-color: var(--footer-bg-color);
}


